
body {
  background: black;
}

#logoPic {
  float: left;
  border-radius: 7px;
  margin: 5px 10px 5px 5px;
}

#logoText {
  float: left;
  vertical-align: top;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  color: white; 
  margin-top: 15px;
}